.container{
  max-width: 1024px;
  margin: auto;
  margin-top: 40px;

  h1{
    font-size: 48px;
  }
}

.filterOptions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar{
  display: flex;
  width: 300px;
  justify-content: space-between;
  border: solid #ddd 1px;
  border-radius: 50px;
  padding: 8px 12px;
  margin-top: 24px;
  margin-bottom: 40px;

  input{
    border: none;
    outline: none;
    flex: 1;
  }
}

.searchButton{
  background: transparent;
  border: 0;
  cursor: pointer;
}